{%  extends 'base.html' %}
{% load static %}
{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Customer List</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>name</th>
							<th>Phone</th>
							<th>Email</th>
						</tr>


							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

{% endblock  %}
